/* *{
    margin: 0;
    padding: 0;
} */

.container{
    display:grid;
    height: 500px;
    width: 1000px;
    background-color: rgb(168, 126, 63);
    border: 1px solid black;
    gap: 10px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 25%, 100px, auto; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header header header""main main, sidebar" "footer footer footer footer";
}
.item{
    background-color: rgb(3, 0, 43);
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
} */