.container {
    display: grid;
    background-color: lightgray;
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header header header" "main main. sidebar" "footer footer footer footer";
    column-gap: 10px;
     justify-items: center; 
     align-items: baseline;  
    /* place-items: center; */


}

.item {
    height: 100px;
    width: 100px; 
    background-color: rgba(29, 1, 14, 0.526);
    border: 1px solid black;
    text-align: center;
    align-content: center;

}

 .item1{
    grid-column: 1/2;
    grid-row: 2/3;
    /* grid-area:header; */
}
 .item2{
    grid-column: 2/2;
    grid-row: 2/3;
    /* grid-area: main; */
}
/*.item3{
    grid-area: sidebar;
}*/
/*.item4{
    grid-column: 4/5;
     grid-area: footer; 
}  */