*{
    margin: 0;
    padding: 0;
}

/* p{
    color: blue;
    background-color: rgb(169, 153, 201);
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.jk{
    color: pink;
    background-color: rgb(178, 149, 236);
}
.js{
    color: green;
    background-color: rgb(200, 153, 201);
}
body{
    background-color:beige;
}
#l1{
    color: gray;
} */
/* .box1{
    height: 500px;
    width: 300px;
    background-color: gray;
    border: 5px double black;
    padding: 10px;
    margin-left: 50px;
} */


/* body{
    border: 3px solid black;
    margin: 30px;
    padding: 10px;
}
div{
    div{
        h1{
            background-color: skyblue;
            padding: 20px;
            margin: 10px;
        }
        p{
            background-color: darkolivegreen;
            padding: 20px;
            margin: 10px;
        }
    }
} */
/* .container{
    display: inline-block;
    height: 650px;
    width: 1000px;
     border: 2px solid black;
    margin: 30px;
    padding: 10px;
 }

.boxbox1{
    height: 500px;
    width: 250px;
    display: inline-block;
     background-color: burlywood;
            padding: 20px;
            margin: 10px;
            text-align: center;
}
.boxbox2{
    height: 500px;
    width: 250px;
    display: inline-block;
     background-color: brown;
            padding: 20px;
            margin: 10px;
            text-align: center;
}
.boxbox3{
    height: 500px;
    width: 250px;
    display: inline-block;
     background-color: skyblue;
            padding: 20px;
            margin: 10px;
            text-align: center;
} */

/* div {
    background-color: rgba(204, 116, 116, 0.781);
    border: 2px solid black;
    padding: 20px;
    width: 600px;
}
img {
    float: left;
    height: 150px;
    width: 300px;
    padding: 10px;
}
#p2 {
    clear: both;
    background-color: beige;
} */

.container{
    /* flex-direction: row-reverse; */
    display: flex;
    border: 1px solid black;
    height: 100px;
    width: 500px;
    background-color: burlywood;
    flex-wrap: wrap;
    /* justify-content: flex-end; 
      justify-content: flex-start;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around; */
     align-items: center;
    /* align-items: flex-start;
    align-items: flex-end;
    align-items: stretch;
    align-items: baseline; */
    /* align-content: flex-end;
    align-content: flex-start;
     */
    gap: 10px;
    /* row-gap: ;
    column-gap: ; */


}
.item{
    height: 50px;
    width: 75px;
    border: 2px solid black;
    background-color: aquamarine;
}

























