*{
    margin: 0;
    padding: 0;
}

body{
    border: 3px solid black;
    margin: 30px;
    padding: 5px;
}
div{
    background-color: yellow;
    font-size: 20px;
    padding: 100px;
    text-align: center;
    border: 30px solid blue; 
    margin-left: 25px;
    
}