*{
    margin: 0;
    padding: 0;
}

/* p{
    color: blue;
    background-color: rgb(169, 153, 201);
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.jk{
    color: pink;
    background-color: rgb(178, 149, 236);
}
.js{
    color: green;
    background-color: rgb(200, 153, 201);
}
body{
    background-color:beige;
}
#l1{
    color: gray;
} */
/* .box1{
    height: 500px;
    width: 300px;
    background-color: gray;
    border: 5px double black;
    padding: 10px;
    margin-left: 50px;
} */


/* body{
    border: 3px solid black;
    margin: 30px;
    padding: 10px;
}
div{
    div{
        h1{
            background-color: skyblue;
            padding: 20px;
            margin: 10px;
        }
        p{
            background-color: darkolivegreen;
            padding: 20px;
            margin: 10px;
        }
    }
} */
/* .container{
    display: inline-block;
    height: 650px;
    width: 1000px;
     border: 2px solid black;
    margin: 30px;
    padding: 10px;
 }

.boxbox1{
    height: 500px;
    width: 250px;
    display: inline-block;
     background-color: burlywood;
            padding: 20px;
            margin: 10px;
            text-align: center;
}
.boxbox2{
    height: 500px;
    width: 250px;
    display: inline-block;
     background-color: brown;
            padding: 20px;
            margin: 10px;
            text-align: center;
}
.boxbox3{
    height: 500px;
    width: 250px;
    display: inline-block;
     background-color: skyblue;
            padding: 20px;
            margin: 10px;
            text-align: center;
} */

/* div {
    background-color: rgba(204, 116, 116, 0.781);
    border: 2px solid black;
    padding: 20px;
    width: 600px;
}
img {
    float: left;
    height: 150px;
    width: 300px;
    padding: 10px;
}
#p2 {
    clear: both;
    background-color: beige;
} */

.container{
    /* flex-direction: row; main axis: horizontal*/
    /* flex-direction: row-reverse; strt from right */
     /* flex-direction: column; main axis : vertical */
     /* flex-direction: column-reverse; strt from downward*/
     /* flex-wrap: nowrap | wrap |wrap reverse; (nowrap: as it is )
                                                (wrap: it will move items in next line)
                                                (wrap reverse: adjust all items by shrinking) */

    display: flex;
    border: 1px solid black;
    height: 100px;
    width: 500px;
    background-color: burlywood;
    flex-wrap: wrap;
    /* justify-content: flex-end;  */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-in-between; */
    /* justify-content: space-evenly; */
     align-items: center;
     /* align-items: flex-start; sb upar wali line se touch ho jayega */
    /* align-items: flex-end;  sb niche wali line se touch ho jayega*/
     /* align-items: center;  sb center wali line se jayega*/
    /* align-items: stretch;  sb stretch hokar upar aur niche wali line se touch ho jayega*/
    /* align-items: baseline;  sb center wali line jayega aur ek line bhi kheech jayegi unke center se*/
    /* align-content: flex-end; sb niche ki taraf shift ho jayega*/
    /*align-content: flex-start; sb upar ki taraf shift ho jayega */
    /*align-content:center; sb center mein shift ho jayega*/
    /*align-content: stretch; sb stretch ho jayega */
    /*align-content: space between; upar aur niche wale ek dusre ke respect mein shift ho jayenge */
    /*align-content: space around; sb ek dusre se shift ho jayega*/
    gap: 10px;
    /* row-gap: ; bagal bagal walon mein gap aayega*/
    /*column-gap: ; upar niche wale mein gap aayega*/

    /* by default sabhi child elen=ment ka order 0 hi hota hai */
}
.item{
    height: 50px;
    width: 75px;
    border: 2px solid black;
    background-color: aquamarine;
    flex-grow: 1;
}
.item4{
    /* order: -1; */
    flex-grow:2;
    align-self: flex-end;
}
























