*{
    margin: 0;
    padding: 0;
}

p{
    color: blue;
    background-color: rgb(169, 153, 201);
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.jk{
    color: pink;
    background-color: rgb(178, 149, 236);
}
.js{
    color: green
    background-color: rgb(200, 153, 201);
}
body{
    background-color:beige;
}
#l1{
    color: gray;
}
div{
    height: 500px;
    width: 300px;
    background-color: gray;
    border: 5px double black;
    padding: 10px;
    margin-left: 50px;
}